@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://use.typekit.net/slx2ums.css");
:root {
    --primary: #e94b67;
    --primary-shade1: #953042;
    --primary-shade2: #f18c9d;
    --secondary-beige: #efe9e4;
    --black: #091414;
    /** old **/
    --grey: #8b8c8c;
    --secondary: #72b0cf;
    --secondary-shade1: #497185;
    --secondary-shade2: #a5cde1;
    /** -- **/
    --white: #ffffff;
    --border: #eaeaea;
    --nav-circle: 8px;
}

html {
    scroll-behavior: smooth;
}


/*--------------------------------------------------------- Layout ---------------------------------------------------------*/


/** check https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout**/

body,
footer,
.content,
header {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 24px;
}

body>*,
footer>*,
.content>*,
header>* {
    grid-column: col-start / span 12;
}


/** On Desktop + Tablet **/

@media (min-width: 767px) {
    .content,
    .main-header,
    .footer-content,
    header {
        grid-column: col-start 2 / span 10;
    }
    .text-div {
        grid-column: col-start / span 5;
    }
    .pic-div {
        grid-column: col-start 7 / span 6;
    }
    #curr-project-img {
        grid-column: col-start / span 12;
    }
}


/** On mobile **/

@media (max-width: 767px) {
    .content,
    .main-header,
    .footer-content {
        grid-column: col-start 2 / span 11;
    }
    .text-div,
    .pic-div {
        grid-column: col-start / span 11;
    }
    .logo-large {
        max-width: 100%;
    }
    #div_iframe {
        display: none;
    }
    #curr-project-img {
        grid-column: col-start / span 10;
    }
}

#header-thumbnails>* {
    padding-right: 16px;
}

#info-block {
    padding-top: 100px;
}

#privacy-policy_terms-of-service {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 150px;
}

#privacy-policy_terms-of-service>* {
    padding-right: 10px;
}


/** Project picture **/

#curr-project-img {
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    /*object-position: 50% 50%; 
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: pic_resize;
  */
}

@keyframes pic_resize {
    0% {
        object-position: 10% 40%;
    }
    100% {
        object-position: 80% 60%;
    }
}


/*--------------------------------------------------------- Paragraph & Font Styles ---------------------------------------------------------*/

h1 {
    font-family: "degular-display", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: var(--black);
}

h2 {
    font-family: "degular-display", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: var(--black);
}

h3 {
    font-family: "degular-display", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: var(--black);
}

h4 {
    font-family: "degular-display", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: var(--black);
}

h5 {
    font-family: "degular-display", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: var(--black);
}

h6 {
    font-family: "degular-display", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--black);
}

.body_large {
    font-family: "Inter", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    color: var(--black);
}

.body_standard {
    font-family: "Inter", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: var(--black);
}

.body_small {
    font-family: "Inter", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--black);
}

.caption {
    font-family: "Inter", "Verdana", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: var(--black);
    margin: 0;
}

a {
    transition: 1s;
}

a .colored-link {
    color: var(--secondary-shade1) !important;
}

a:hover {
    color: var(--secondary-shade2) !important;
}

a:visited {
    align-items: center;
    color: var(--black);
}

.btn_l {
    font-family: "Inter", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.btn_s {
    font-family: "Inter", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


/*--------------------------------------------------------- Component styles ---------------------------------------------------------*/


/** Buttons **/

button {
    cursor: pointer;
    position: static;
    z-index: 3;
}

.btn_primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 38px;
    color: var(--white);
    background: var(--primary);
    transition: background 1s, border 1s;
    -webkit-transition: background 1s, border 1s;
}

.btn_secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 30px;
    color: var(--primary);
    background-color: var(--white);
    transition: border 1s, background 1s, color 1s;
    transition: border 1s, background 1s, color 1s;
}

.btn_primary:hover {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--white);
}

.btn_secondary:hover {
    border: 1px solid var(--secondary);
    background-color: var(--white);
    color: var(--secondary);
}


/** Icons **/

.icon {
    fill: var(--black);
    transition: .5s;
}

.icon:hover {
    fill: var(--secondary-shade2);
}


/** navigation **/

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu h6:hover {
    color: var(--primary);
    transition: 1s;
}

.selected_nav {
    margin-right: -8px;
}

ul {
    padding-inline-start: 0;
}

.selected_nav::after {
    content: "";
    display: block;
    width: var(--nav-circle);
    height: var(--nav-circle);
    position: relative;
    background-color: var(--primary);
    border-radius: 50%;
    left: -52%;
    transform: translateY(15px);
}


/*--------------------------------------------------------- Spacing ---------------------------------------------------------*/

.spacing_4 {
    padding-top: 4px;
}

.spacing_8 {
    padding-top: 8px;
}

.spacing_16 {
    padding-top: 16px;
}

.spacing_24 {
    padding-top: 24px;
}

.spacing_32 {
    padding-top: 32px;
}

.spacing_40 {
    padding-top: 40px;
}

.spacing_48 {
    padding-top: 48px;
}

.spacing_56 {
    padding-top: 56px;
}

.spacing_64 {
    padding-top: 64px;
}

.height_x {
    height: 0px;
}

.dots {
    padding-top: 36px;
    padding-bottom: 36px;
}


/*--------------------------------------------------------- Design elements ---------------------------------------------------------*/


/** boxes **/

.beige_shadow {
    box-shadow: 42px 42px var(--secondary-beige);
}

.black_outline {
    box-shadow: 42px 42px white, -25px -25px 0px -10px white, -25px -25px var(--black);
}